@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
  body {
    min-height: 100vh;
  }
}

@layer components {
  .container-content {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6;
  }
}
